In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
data=pd.read_csv('placement.csv',usecols=('cgpa','placement'))

In [10]:
data.head()

   cgpa  placement
0   6.8          1
1   5.9          0
2   5.3          0
3   7.4          1
4   5.8          0

In [47]:
class meralr():
    def __init__(self):
        self.m=None
        self.b=None
    def fit(self,x_train,y_train):
        num=0
        den=0
        for i in range(x_train.shape[0]):
            num=num+((x_train[i]-x_train.mean())*(y_train[i]-y_train.mean()))
            den=den+((x_train[i]-x_train.mean())*(x_train[i]-x_train.mean()))
        self.m=num/den
        self.b=y_train.mean()-(self.m*x_train.mean())
        print(self.m)
        print(self.b)
        
    def predict(self,x_test):
        return self.m*x_test+self.b

In [48]:
data.head()

   cgpa  placement
0   6.8          1
1   5.9          0
2   5.3          0
3   7.4          1
4   5.8          0

In [76]:
x=data.iloc[:,0].values
y=data.iloc[:,1].values

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [90]:
lr=meralr()

In [91]:
lr.fit(x_train,y_train)

0.34840537149928863
-1.585076453706393

In [92]:
x_test[1]

7.6

In [93]:
lr.predict(x_test[1])

1.0628043696882006